.addTask{background: url(addTask.png) no-repeat  center!important;}
.openTask{background: url(openTask.png) no-repeat  center!important;}
.saveTask{background: url(saveTask.png) no-repeat  center!important;}
.exportTask{background: url(exportTask.png) no-repeat  center!important;}
.back{background: url(back.png) no-repeat  center!important;}
.menu{background: url(menu.png) no-repeat  center!important;}
.propertyPanel{background: url(propertyPanel.png) no-repeat  center!important;}
.listPanel{background: url(listPanel.png) no-repeat  center!important;}
.translate{background: url(translate.png) no-repeat  center!important;}
.scale{background: url(scale.png) no-repeat  center!important;}
.combine{background: url(combine.png) no-repeat  center!important;}
.separate{background: url(separate.png) no-repeat  center!important;}
.assembly{background: url(assembly.png) no-repeat  center!important;}
.align{background: url(align.png) no-repeat  center!important;}
.selectBox{background: url(selectBox.png) no-repeat  center!important;}
.copy{background: url(copy.png) no-repeat  center!important;}
.delete{background: url(delete.png) no-repeat  center!important;}
.observe{background: url(observe.png) no-repeat  center!important;}
.help{background: url(help.png) no-repeat  center!important;}
.rotate{background: url(rotate.png) no-repeat  center!important;}
.visibile{background: url(visibile.png) no-repeat  center!important;}
.slow{background: url(slow.png) no-repeat  center!important;}
.start{background: url(start.png) no-repeat  center!important;}
.stop{background: url(stop.png) no-repeat  center!important;}
.reset{background: url(reset.png) no-repeat  center!important;}
.fast{background: url(fast.png) no-repeat  center!important;}
.satellite{background: url(satellite.png) no-repeat  center!important;}
.simupara{background: url(simupara.png) no-repeat  center!important;}
.invisible{background: url(invisible.png) no-repeat  center!important;}
.initView{background: url(initView.png) no-repeat  center!important;}
.view{background: url(view.png) no-repeat  center!important;}
.rename{background: url(rename.png) no-repeat  center!important;}
.movie{background: url(movie.png) no-repeat  center!important;}
.x{background: url(x.png) no-repeat  center!important;}
.y{background: url(y.png) no-repeat  center!important;}
.z{background: url(z.png) no-repeat  center!important;}
.DataTransAnalysis{background: url(dataTransAnalysis.png) no-repeat  center!important;}
.Structure{background: url(structure.png) no-repeat  center!important;}
.ChainAnalysis{background: url(chainAnalysis.png) no-repeat  center!important;}
.CoverAnalysis{background: url(coveranalysis.png) no-repeat  center!important;}
.overstation{background: url(overstation.png) no-repeat  center!important;}
.Solution{background: url(task.png) no-repeat  center!important;}
.Satellite{background-image:url(satellite.png)!important;}
.GroundStation{background-image:url(groundStation.png)!important;}
.EarthAreaCover{background-image:url(earthAreaCover.png)!important;}
.EarthCover{background-image:url(earthCover.png)!important;}
.SkyCoverPoint{background: url(partareas.png) no-repeat  center!important;}
.Task{background: url(task.png) no-repeat  center!important;}
.zoomIn {background: url(zoom_in.png) no-repeat  center!important;}
.zoomOut{background: url(zoom_out.png) no-repeat  center!important;}
.month{background: url(month.png) no-repeat  center!important;}
.day{background: url(day.png) no-repeat  center!important;}
.year{background: url(year.png) no-repeat  center!important;}
.minute{background: url(minute.png) no-repeat  center!important;}
.hour{background: url(hour.png) no-repeat  center!important;}
.SkyCoverRegin{background: url(allareas.png) no-repeat  center!important;}
.Sensor{background-image:url(sensor.png)!important;}
.Helper{background: url(helper.png) no-repeat  center!important;}
.download{background: url(download.png) no-repeat  center!important;}
.coveranalysis{background: url(coveranalysis.png) no-repeat  center!important;}
.earthAreaCover{background: url(earthAreaCover.png) no-repeat  center!important;}





































